/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fc;
    color: #333;
    padding: 30px;
}

/* Add Button Styles */
.add-btn {
    margin-left: 270px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px; /* Space between the button and the table */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-self: flex-start; /* Align the button to the left */
    transition: background-color 0.3s, transform 0.3s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
}

.add-btn.active{
    margin-left: 70px;
    transition: margin-left 0.2s ease-in-out;
}

.add-btn:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.add-btn:active {
    transform: translateY(2px);
}

/* Estilos da Tabela */
.table-container {
    /*margin: 20px auto;*/ /*See Later*/
    /*width: 80%;*/ /*See Later*/
    margin-left: 270px;
    max-width: 1370px; /* Limita o tamanho máximo para evitar telas muito grandes */
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: margin-left 0.2s ease-in-out;
}
.table-container.active{
    margin-left: 70px;
    transition: margin-left 0.2s ease-in-out;
}
.tabulator-header .tabulator-col {
    background-color: #4CAF50;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid #ddd;
}

.tabulator-row {
    font-size: 17px;
    /*text-align: center;*/
    color: #333;
}

.tabulator-row:nth-child(even) {
    background-color: #f9f9f9;
}

.tabulator-row:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Botões de Ação */
.edit-btn, .delete-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.2s ease-in-out, background-color 0.3s;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}

.edit-btn {
    background-color: #007bff;
    color: #fff;
}

.edit-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.edit-btn:active {
    transform: scale(1);
}

.delete-btn {
    background-color: gray;
    color: #fff;
}

.delete-btn:hover {
    background-color: gray;
    transform: scale(1.05);
}

.delete-btn:active {
    transform: scale(1);
}

.submit-btn{
    margin-top: 10px; /* Slightly below the table */
    padding: 10px 20px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    float: right;
}

.submit-btn:hover{ 
    background-color: #45a049; /* Slightly darker green on hover */
}

/* Responsividade */
@media (max-width: 768px) {
    .data-table th, .data-table td {
        padding: 12px 10px;
    }

    .add-btn {
        width: 100%;
        padding: 12px 20px;
    }

    .data-table {
        font-size: 14px;
    }
}